<a href="https://colab.research.google.com/github/pmontman/tmp_choicemodels/blob/main/nb/tutorials/WK_07_tuto_panel_mixed_logit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial 7: Panel data and mixed logit

We will analyze a marketing dataset, of choice of brand of catsup (a.k.a. ketchup or 'tomato sauce' in Australia).

We have two famous brands of catsup and 3 different package sizes.

A description of the dataset can be found [here](https://www.tandfonline.com/doi/pdf/10.1080/07350015.1994.10524547?casa_token=r4LpjVvgDW4AAAAA:FVG8mEexsQ37tJ2bvk7oxZZ9K_jvvMJ2WxglLzBaHQD0_0REkXmKGsPPxXw_LRGwN3YHY8-L-k8U)

# Description of the dataset

* **id**: household identifiers,
* **choice**: one of heinz41, heinz32, heinz28, hunts32.
* **disp_x**: is there a display for brand X ?
* **feat_x**: is there a newspaper feature advertisement for brand x?
* **price_x**: price of brand x

---
---

# Preparing the environment
*The preparation and dataset loading code is given to the students*

In [137]:
!pip install biogeme

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: biogeme in /usr/local/lib/python3.7/dist-packages (3.2.10)

Load the packages, feel free to change the names.

In [138]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt

import biogeme.database as db
import biogeme.biogeme as bio
import biogeme.models as models
import biogeme.expressions as exp
import biogeme.tools as tools
import biogeme.distributions as dist

# Load the dataset

In [139]:
path = 'https://raw.githubusercontent.com/pmontman/pub-choicemodels/main/data/catsup.csv'
catsup_pd = pd.read_csv(path)


In this case, notice the id variable, that identifies each household, so we have data from many choice situations for each household. We have also different amount of observations per household.

In [140]:
catsup_pd.head(25)

,id,disp_heinz41,disp_heinz32,disp_heinz28,disp_hunts32,feat_heinz41,feat_heinz32,feat_heinz28,feat_hunts32,price_heinz41,price_heinz32,price_heinz28,price_hunts32,choice
0,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz28
1,1,0,0,0,0,0,0,0,0,4.6,4.3,5.2,4.4,heinz28
2,1,0,0,0,0,0,1,0,0,4.6,2.5,4.6,4.8,heinz28
3,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz28
4,1,0,0,0,0,0,0,1,0,4.6,3.0,4.6,4.8,heinz28
5,1,0,0,0,0,0,0,0,0,5.0,3.0,4.7,3.0,heinz28
6,1,0,0,0,1,0,0,0,1,5.1,3.1,4.6,4.1,heinz28
7,1,0,0,0,0,0,0,0,0,4.6,3.4,4.7,3.1,heinz41
8,1,0,0,0,0,0,0,0,0,5.0,3.4,4.7,3.1,heinz28
9,1,0,0,0,1,0,0,0,0,5.0,3.4,5.0,2.8,heinz28
10,1,0,0,0,0,0,0,0,0,4.5,3.2,5.0,4.1,heinz28
11,1,0,0,0,0,0,0,0,0,5.0,3.7,5.0,3.4,heinz28
12,1,0,0,0,0,0,0,0,0,5.0,3.7,5.3,3.7,heinz28
13,1,0,0,1,0,0,0,0,0,5.2,3.7,3.6,3.7,heinz28
14,2,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.7,heinz28
15,2,0,0,0,0,0,0,0,0,4.6,3.1,5.2,3.4,heinz32
16,2,0,0,0,0,0,0,0,0,4.6,1.8,5.2,3.4,heinz32
17,2,0,0,0,0,1,0,0,0,4.6,3.1,4.2,3.5,heinz28
18,2,0,0,0,0,0,0,0,0,5.0,3.4,5.0,3.1,heinz28
19,2,0,0,0,0,0,0,0,0,4.4,3.7,4.3,3.4,heinz28
20,2,0,0,0,0,0,0,0,0,5.0,3.7,3.9,3.7,heinz28
21,3,0,0,0,0,0,0,0,0,4.6,2.8,5.2,3.6,heinz32
22,3,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz32
23,3,0,0,0,0,0,0,0,0,4.6,2.8,5.2,3.7,heinz32
24,3,0,0,0,0,0,0,0,0,4.6,3.7,4.7,3.5,heinz32

# Auxiliary function

In [141]:
def qbus_update_globals_bgm(pd_df):
   globals().update(db.Database('tmp_bg_bgm_for_glob', pd_df).variables)

# Data cleaning: Preparing the dataset for Biogeme

Encode the choice variable (a string) into numbers with the `factorize` function.
We take a look at the codetable to know how the numbers are mapped to the alternatives. The order of the codetable indicates the association,
0: heinz28, 1: heinz41 and so on.

In [142]:
catsup_pd['choice'], codetable = catsup_pd['choice'].factorize()

In [143]:
codetable

Index(['heinz28', 'heinz41', 'heinz32', 'hunts32'], dtype='object')

In [144]:
catsup_pd['choice']

0       0
1       0
2       0
3       0
4       0
       ..
2793    1
2794    1
2795    3
2796    0
2797    0
Name: choice, Length: 2798, dtype: int64

#Capturing agent effect through mixed logit

In [145]:

# Define level of verbosity
import biogeme.messaging as msg
logger = msg.bioMessage()
logger.setSilent()

We will have to use some additional functionalities of biogeme so the auxiliary functions cannot be used. So we have to create the biogeme database manually.

In [146]:
database = db.Database("catsup", catsup_pd)

This line of code tells biogeme to use the variable id in the dataset as the identifier of the individuals to treat them as panel data (if not, it will take observations as if they were independent).

In [147]:
database.panel("id")

We now declare the coefficients in our model, we will make a simple model,
just the alternative-specif constants and the variables disp, feat and price.

In [148]:
ASC_heinz41 = exp.Beta('ASC_heinz41',0,None,None,0)
ASC_heinz32  = exp.Beta('ASC_heinz32 ',0,None,None,0)
ASC_heinz28 = exp.Beta('ASC_heinz28',0,None,None,0)
ASC_hunts32 = exp.Beta('ASC_hunts32',0,None,None,1)

B_disp = exp.Beta('B_disp',0,None,None,0)
B_feat = exp.Beta('B_feat',0,None,None,0)
B_price = exp.Beta('B_price',0,None,None,0)

Now comes the **important part**, the definition of the random effects in the model!

We want to consider a simple constant agent effect.
Recall the definition:

$$V_{jit} = \beta X_{jit} + \alpha_{ij}$$
and we have to specifiy the distribition of the $\alpha$. In this case, we will use the normal, so $\alpha_{ij} \in N(\mu_j, \sigma_j^2)$.
The ingredients are:
 1) Probability distrbitution: We set it ourselves, the normal (we could have set others, such as the uniform, lognormal and so on.
 2) Parameters of the probability distribution (the $\mu$ and $\sigma$): They will be estimated from the data.

 If we think for a moment, the $\mu$ of this distribution will also depend on the values of the alternative-specific constants (ASC), since changing $mu$ essential mean adding a constant to all values coming for that distribution. We can think that the mean of that distribution will be 'absorbed' by the ASCs.
Again this is just another convention!

What we end up doing in biogeme is that we will only declare the parameter for the standard deviation, so each normal distribution will be mean 0 and std.dev to determine from the data.

In terms of code, we declare the std.devs (the $\sigma_j$} just as any other parameter. We have to set on of them to 0 to act as reference (remember that changes in scale do not affect utility).

In [149]:

SIGMA_heinz41 = exp.Beta('SIGMA_heinz41',0,0,None,0)
SIGMA_heinz32 = exp.Beta('SIGMA_heinz32',0,0,None, 1)
SIGMA_heinz28 = exp.Beta('SIGMA_heinz28',0,0,None,0)
SIGMA_hunts32 = exp.Beta('SIGMA_hunts32',0,0,None,0)

And the following code is how we tell biogeme that the parameters are random.
The `EC_`s are the agent effects. EC stands for Error Component. The key function that indicates randomness is the biogeme function `exp.bioDraws`, that indicates that they are drawn from a probability distribution. The second argument specifies the distribution, some possible values are `'NORMAL'` `'UNIFORMSYM'`.

In [150]:

# Define random parameters, normally distributed across individuals,
# designed to be used for Monte-Carlo simulation
EC_heinz41 = SIGMA_heinz41 * exp.bioDraws('EC_heinz41','NORMAL')
EC_heinz32 = SIGMA_heinz32 * exp.bioDraws('EC_heinz32','NORMAL')
EC_heinz28 = SIGMA_heinz28 * exp.bioDraws('EC_heinz28','NORMAL')
EC_hunts32 = SIGMA_hunts32 * exp.bioDraws('EC_hunts32','NORMAL')

An this is how the specification of the utility functions looks like in the end.
The Betas (disp, feat and price) and ASCsare fixed effect, while the EC are random.

In [151]:
globals().update(database.variables)
# Definition of the utility functions
V_heinz41 = ASC_heinz41 + B_disp *disp_heinz41 + B_feat * feat_heinz41 + B_price * price_heinz41 + EC_heinz41
V_heinz32 = ASC_heinz32 + B_disp *disp_heinz32 + B_feat * feat_heinz32 + B_price * price_heinz32 + EC_heinz32
V_heinz28 = ASC_heinz28 + B_disp *disp_heinz28 + B_feat * feat_heinz28 + B_price * price_heinz28 + EC_heinz28
V_hunts32 = ASC_hunts32 + B_disp *disp_hunts32 + B_feat * feat_hunts32 + B_price * price_hunts32 + EC_hunts32

We create the dictionary that maps to the alternatives. **Remember to be careful here.** The numbers should match the alternatives as we indicated by the factorize() transformation at the beginning of the notebook.
Availabilities are not considered here, we set them to 1.
Finaly, we specify the logit model, as usual.
These steps are common to the multinomial logit.

In [152]:
# Associate utility functions with the numbering of alternatives
V = {0: V_heinz28,
     1: V_heinz41,
     2: V_heinz32,
     3: V_hunts32}

av = {0: 1,
     1: 1,
     2: 1,
     3: 1}

# Conditional to the random variables, the likelihood of one observation is
# given by the logit model (called the kernel)
obsprob = models.logit(V,av, choice)

The difference from the usual declaration of the MNL comes now.

We have to do two new steps:

1. Tell biogeme to consider the panel nature of the data.
2. Tell biogeme to calculate the choice probabilities by simulation. This is how we deal with the random parameters. We simulate for the distribution, and the we calculate the likelihood for that distribution.

Step 1: we can do it by modifying the model with the expression `exp.PanelLikelihoodTrajectory`.

In [153]:
condprobIndiv = exp.PanelLikelihoodTrajectory(obsprob)

And Step 2 we take the model and the modifyi it by the expresion `exp.MonteCarlo`. The final log it to take the loglikelihood.

In [154]:
logprob = exp.log(exp.MonteCarlo(condprobIndiv))

We we are using simulation, we have to tell biogeme how many draws from the distribution are we going to generate. The more draws, the more accurate estimation, but it is compuationally costly.

We also set up a seed, so we can get the same results if the run the notebook again (setting up a seed is a good habit in general)

In [155]:

# Create the Biogeme object
biogeme  = bio.BIOGEME(database,logprob,numberOfDraws=250, seed=1)

Estimation and results as usual.

In [156]:

# Estimate the parameters. 
results = biogeme.estimate()

We take a look at the results,

In [157]:
results.getEstimatedParameters()

                  Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_heinz28    3.801650      0.232028    16.384466  0.000000e+00
ASC_heinz32    2.453807      0.214897    11.418549  0.000000e+00
ASC_heinz41    2.346257      0.277187     8.464532  0.000000e+00
B_disp         1.075611      0.138652     7.757622  8.659740e-15
B_feat         1.231687      0.154485     7.972885  1.554312e-15
B_price       -1.936179      0.100835   -19.201540  0.000000e+00
SIGMA_heinz28  1.805118      0.120974    14.921581  0.000000e+00
SIGMA_heinz41  1.951914      0.198682     9.824291  0.000000e+00
SIGMA_hunts32  2.142723      0.185799    11.532500  0.000000e+00

Interestingly, the simulation of panel data is not implemented! No problem
we will still be able to do simulations, by setting up a scenario that does not consider the panel data.

In [158]:
#biogeme.simulate(results.getBetaValues())

# Compare Panel vs Not using the panel information

We will just compare the results that we get if the just ignore the panel information. We can recreate this by not using `exp.PanelLikelihoodTrajectory` in the model.

In math, this would be the specification:

$$V_{jit} = \beta X_{jit} + \alpha_{ij \color{red}{t}}$$

Os opposed to the panel specification
$$V_{jit} = \beta X_{jit} + \alpha_{ij}$$

Notice the difference subindex $t$. Each row is identified by the indices $i$ and $t$ together. When we remove the $t$ information, we are grouping the rows per individual (household in our dataset).

In [159]:
database_nonpanel = db.Database("catsup", catsup_pd)



# We integrate over the random variables using Monte-Carlo
logprob_nonpanel = exp.log(exp.MonteCarlo(obsprob))


# Create the Biogeme object
biogeme_nonpanel  = bio.BIOGEME(database_nonpanel,logprob_nonpanel,numberOfDraws=250, seed=1)


# Estimate the parameters. 
results_nonpanel = biogeme_nonpanel.estimate()

In [160]:
results_nonpanel.getEstimatedParameters()

                  Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_heinz28    2.781881      0.168652    16.494795  0.000000e+00
ASC_heinz32    1.685863      0.086775    19.428078  0.000000e+00
ASC_heinz41    1.078732      0.383199     2.815070  4.876658e-03
B_disp         1.137851      0.146708     7.755865  8.881784e-15
B_feat         1.360533      0.200471     6.786692  1.147349e-11
B_price       -2.170979      0.158542   -13.693380  0.000000e+00
SIGMA_heinz28  2.476645      0.285309     8.680576  0.000000e+00
SIGMA_heinz41  2.161251      0.461284     4.685289  2.795657e-06
SIGMA_hunts32  0.134804      0.178948     0.753314  4.512612e-01

Simulation of the choice probabilities is similar to the MNL, we just have
to

In [161]:
tgt_nonpanel = {
    0: exp.MonteCarlo(models.logit(V, av, 0)),
    1: exp.MonteCarlo(models.logit(V, av, 1)),
    2: exp.MonteCarlo(models.logit(V, av, 2)),
    3: exp.MonteCarlo(models.logit(V, av, 3))
    }

In [162]:

sim_nonpanel = bio.BIOGEME(database_nonpanel, tgt_nonpanel, numberOfDraws=250, seed=1)
preds = sim_nonpanel.simulate(theBetaValues=results_nonpanel.getBetaValues())
preds

             0         1         2         3
0     0.204173  0.111835  0.502622  0.181371
1     0.313457  0.227677  0.399662  0.059205
2     0.044618  0.010198  0.944877  0.000306
3     0.176578  0.116181  0.523072  0.184169
4     0.319196  0.053934  0.624516  0.002354
...        ...       ...       ...       ...
2793  0.232625  0.246194  0.383579  0.137602
2794  0.482266  0.049863  0.378510  0.089361
2795  0.104730  0.020722  0.120057  0.754490
2796  0.176490  0.048615  0.333622  0.441273
2797  0.720977  0.075115  0.150161  0.053746

[2798 rows x 4 columns]

In [163]:
sim_panel = bio.BIOGEME(database_nonpanel, tgt_nonpanel, numberOfDraws=250, seed=1)
preds = sim_panel.simulate(theBetaValues=results.getBetaValues())
preds

             0         1         2         3
0     0.200880  0.151947  0.447841  0.199332
1     0.310939  0.262697  0.333597  0.092767
2     0.047984  0.019909  0.930378  0.001729
3     0.183895  0.153179  0.484741  0.178185
4     0.359197  0.079345  0.547678  0.013780
...        ...       ...       ...       ...
2793  0.230007  0.294237  0.327943  0.147813
2794  0.500671  0.064819  0.311110  0.123401
2795  0.157138  0.057858  0.271537  0.513467
2796  0.204457  0.082957  0.381347  0.331239
2797  0.750155  0.079965  0.103220  0.066661

[2798 rows x 4 columns]

#Compare to the Multinomial Logit (fixed effects) without agent effect

Just remove the random effect when specifying the utility functions.

In [164]:
V_heinz41_mnl = ASC_heinz41 + B_disp *disp_heinz41 + B_feat * feat_heinz41 + B_price * price_heinz41 #+ EC_heinz41
V_heinz32_mnl = ASC_heinz32 + B_disp *disp_heinz32 + B_feat * feat_heinz32 + B_price * price_heinz32 #+ EC_heinz32
V_heinz28_mnl = ASC_heinz28 + B_disp *disp_heinz28 + B_feat * feat_heinz28 + B_price * price_heinz28 #+ EC_heinz28
V_hunts32_mnl = ASC_hunts32 + B_disp *disp_hunts32 + B_feat * feat_hunts32 + B_price * price_hunts32 #+ EC_hunts32

In [165]:
V_mnl = {0: V_heinz28_mnl,
     1: V_heinz41_mnl,
     2: V_heinz32_mnl,
     3: V_hunts32_mnl}

In [166]:
logprob = models.loglogit (V_mnl , av , choice )
bgm_model = bio.BIOGEME ( database_nonpanel, logprob )
results_mnl = bgm_model.estimate()

In [167]:
results_mnl.getEstimatedParameters()

                 Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_heinz28   2.425980      0.090696    26.748619  0.000000e+00
ASC_heinz32   1.501277      0.063949    23.476326  0.000000e+00
ASC_heinz41   1.353676      0.114964    11.774747  0.000000e+00
B_disp        0.875589      0.102257     8.562616  0.000000e+00
B_feat        0.908575      0.120177     7.560316  4.019007e-14
B_price      -1.402389      0.056094   -25.000504  0.000000e+00

In [168]:
tgt_mnl = {
    0: (models.logit(V_mnl, av, 0)),
    1: (models.logit(V_mnl, av, 1)),
    2: (models.logit(V_mnl, av, 2)),
    3: (models.logit(V_mnl, av, 3))
    }

sim_mnl = bio.BIOGEME(database_nonpanel, tgt_mnl)
preds_mnl = sim_mnl.simulate(theBetaValues=results_mnl.getBetaValues())
preds_mnl

             0         1         2         3
0     0.162657  0.129124  0.528756  0.179463
1     0.288464  0.228995  0.404244  0.078296
2     0.049712  0.017012  0.929956  0.003319
3     0.162657  0.129124  0.528756  0.179463
4     0.374181  0.051618  0.564130  0.010071
...        ...       ...       ...       ...
2793  0.213049  0.257590  0.395221  0.134140
2794  0.472546  0.052663  0.377899  0.096891
2795  0.089003  0.030458  0.251466  0.629073
2796  0.174481  0.059711  0.428469  0.337340
2797  0.832762  0.032516  0.100584  0.034139

[2798 rows x 4 columns]

---
---

# Exercise: Capturing dynamics: Add last choice as additional variable (assume that data was observed in order), add it as fixed parameter and  estimate a mixed logit.
Basically we add a new variable and repeat the process for estimating the mixed logit.

The first step is given to us: In the following cells we are going to create a new dataset that has an additional covariate representing the alternative that was chosen before each choice situation.

In [169]:
catsup_past = catsup_pd.copy()

This functions takes a column, removes the last observation and adds a -1 at the begginning. This is how we create the lagged variable.

In [170]:
def last_choice(x):
  return pd.Series([-1]).append(x[:-1])

We apply the function `last_choice` to the dataset, but we group the dataset by the id of the household.

In [171]:
lchoice =  catsup_past.groupby('id')['choice'].apply(last_choice).reset_index()#.head(25)
catsup_past['last_choice'] = lchoice['choice']
catsup_past.head(17)

,id,disp_heinz41,disp_heinz32,disp_heinz28,disp_hunts32,feat_heinz41,feat_heinz32,feat_heinz28,feat_hunts32,price_heinz41,price_heinz32,price_heinz28,price_hunts32,choice,last_choice
0,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,0,-1
1,1,0,0,0,0,0,0,0,0,4.6,4.3,5.2,4.4,0,0
2,1,0,0,0,0,0,1,0,0,4.6,2.5,4.6,4.8,0,0
3,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,0,0
4,1,0,0,0,0,0,0,1,0,4.6,3.0,4.6,4.8,0,0
5,1,0,0,0,0,0,0,0,0,5.0,3.0,4.7,3.0,0,0
6,1,0,0,0,1,0,0,0,1,5.1,3.1,4.6,4.1,0,0
7,1,0,0,0,0,0,0,0,0,4.6,3.4,4.7,3.1,1,0
8,1,0,0,0,0,0,0,0,0,5.0,3.4,4.7,3.1,0,1
9,1,0,0,0,1,0,0,0,0,5.0,3.4,5.0,2.8,0,0
10,1,0,0,0,0,0,0,0,0,4.5,3.2,5.0,4.1,0,0
11,1,0,0,0,0,0,0,0,0,5.0,3.7,5.0,3.4,0,0
12,1,0,0,0,0,0,0,0,0,5.0,3.7,5.3,3.7,0,0
13,1,0,0,1,0,0,0,0,0,5.2,3.7,3.6,3.7,0,0
14,2,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.7,0,-1
15,2,0,0,0,0,0,0,0,0,4.6,3.1,5.2,3.4,2,0
16,2,0,0,0,0,0,0,0,0,4.6,1.8,5.2,3.4,2,2

But now it is up to you how the new variable is added to the model!
Transformations? Dummy encoding? Per-alternative parameters?.